body * {
    font-family: 'Nunito', sans-serif;
}


/*------------NAVBAR------------*/

.navbar__fondo {
    background-color: #161616;
}

.navbar-brand {
    font-size: 3rem !important;
    font-family: 'Kreon', serif;
}


/*------------HEADER------------*/

.hero-section {
    /*Quiero el texto a la derecha*/
    background-image: url(../img/main.jpg);
    /*Quiero esta img de fondo*/
    background-repeat: no-repeat;
    /*La imagen no se repetirá como si fuera mosaico*/
    background-size: cover;
    /*La imagen va a cubrir el elemento que lo contiene*/
    background-position: right;
    color: #ffffff;
    /*Los elementos serán blancos*/
    text-shadow: 0.125em 0.25em 0.125em #707070;
    /* Esta línea la pasamos a em */
    height: 100vh;
    margin-top: 56px;
}

.texto__introductorio {
    padding: 20rem;
}

@media (max-width: 767.98px) {
    .texto__introductorio p {
        display: none;
    }
    .texto__introductorio h1 {
        text-align: center;
        bottom: -4rem!important;
    }
}

.text__header {
    padding-bottom: 1rem;
    text-align: left;
    width: 100%;
}

.text__header p {
    text-align: justify;
}

.fondo__header {
    background-image: url("main.jpg");
}


/*Colores


background-color: #161616;

background-color: #418B94;

background-color: #F6C54D;

background-color: #FC4148;
*/


/*----------carousel------------*/


/*-------------FOOTER-----------*/

.footer-bg {
    background-color: #418B94;
    text-align: center;
    padding: 2.5rem;
}

.footer__brand {
    font-size: 2.5rem;
    font-family: 'Kreon', serif;
    color: #ffffff;
}

.footer__text {
    font-size: 1rem;
}

footer i {
    font-size: 3rem;
    padding: 1rem;
}


/*-----------EXPERIENCIA (Section 3)--------------*/

.section-3-box {
    margin-top: 30px;
    text-align: left;
}

.experiencia {
    background-color: rgba(186, 178, 224, 0.493);
}

.section-3-box .section-3-box-icon {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background: #8542a0;
    /* Old browsers */
    background: -moz-linear-gradient(top, #a365bc 0%, #8542a0 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a365bc), color-stop(100%, #8542a0));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a365bc 0%, #8542a0 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a365bc 0%, #8542a0 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a365bc 0%, #8542a0 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #a365bc 0%, #8542a0 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a365bc', endColorstr='#8542a0', GradientType=0);
    /* IE6-9 */
    font-size: 1.75rem;
    color: #fff;
    line-height: 3.75rem;
    text-align: center;
    /*Formato del círculo*/
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.section-3-box h3 {
    margin-top: 0;
    padding: 0 0 10px 0;
}


/*-------------TIMELINE----------------*/

.circle {
    padding: 13px 20px;
    border-radius: 50%;
    background-color: #ED8D8D;
    color: #fff;
    max-height: 50px;
    z-index: 2;
}

.how-it-works.row .col-2 {
    align-self: stretch;
}

.how-it-works.row .col-2::after {
    content: "";
    position: absolute;
    border-left: 3px solid #ED8D8D;
    z-index: 1;
}

.how-it-works.row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
}

.how-it-works.row .col-2.full::after {
    height: 100%;
    left: calc(50% - 3px);
}

.how-it-works.row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
}

.timeline div {
    padding: 0;
    height: 40px;
}

.timeline hr {
    border-top: 3px solid #ED8D8D;
    margin: 0;
    top: 17px;
    position: relative;
}

.timeline .col-2 {
    display: flex;
    overflow: hidden;
}

.timeline .corner {
    border: 3px solid #ED8D8D;
    width: 100%;
    position: relative;
    border-radius: 15px;
}

.timeline .top-right {
    left: 50%;
    top: -50%;
}

.timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
}

.timeline .top-left {
    left: -50%;
    top: -50%;
}

.timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
}


/*-------------CAROUSEL----------------*/